# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# OS / IDE
.DS_Store
.vscode/
.idea/

# Training artifacts
runs/
weights/
*.pt
*.onnx

# Datasets (usually large)
data/raw/
data/processed/

# Jupyter
.ipynb_checkpoints/
